* {
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.header {
    text-align: center;
    padding-top: 70px;

    #header-image {
        max-width: 75%;
        margin: auto;
    }

    #byline {
        color: #999;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 20px;
        text-transform: uppercase;
        text-align: center;

        address {
            font-style: normal;
        }
    }
}

//Mobile header
@media only screen and (max-width: 768px) {
    .header {
        text-align: center;
        padding-top: 45px;
    
        #header-image {
            max-width: 75%;
            margin: auto;
        }
    
        #byline {
            color: #999;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2px;
            padding: 20px;
            text-transform: uppercase;
            text-align: center;
    
            address {
                font-style: normal;
            }
        }
    }
}

.footer {
    text-align: center;
}

main {
    line-height: 175%;

    a, a:visited, a:active {
        color: #fff;
        border-bottom: 2px solid #004992;
        text-decoration: none;
        &:hover {
            color: #004992;
        }
    }
}

article {
    margin: 0 0 1.5em;
    padding: 2em 0 2em 0;  
}

// Blog list
h1, #blog-list h2 {
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;

    a, a:visited, a:active {
        border-bottom: none;
    }
}

#blog-list article div h2 {
    font-weight: 600;
    font-size: 20px;
    text-transform: none;
}

@media only screen and (max-width: 768px) {
    article:first-of-type {
        padding-top: 0px;
    }
}

// Blog post
h2 {
    font-weight: 600;
    font-size: 20px;
}

h3 {
    color: #888;
}

date {
    color: #999;
    font: 12px 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    line-height: 28px;
    overflow-wrap: break-word;

    code {
        padding: 0px;
        display: inline;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    del, del a {
        color: #999;
    }
}

blockquote {
    border-left: 2px solid #004992;
    color: #999;
    font-size: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-align: left;

    p {
        margin: 0 0 10px;

    }

    a {
        color: #999;
    }
}

hr {
    display: block;
    background: #444;
    border: none;
    height: 1px;
    margin-block-start: 2em;
    margin-block-end: 2em;
}

img {
    max-width: 100%;
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}

code {
    padding: 10px;
    background: -webkit-linear-gradient(#00fa92, #004992);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

// Navigation
nav {
    a {
        color: #fff;
        text-decoration: none;
        border-bottom: none;
        &:hover {
            border-bottom: none;
        }
    }
}

#list-pagination {
    padding-bottom: 15px;
    display: block;
    margin: 0 5px;
    color: #999;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    a {
        margin: 0 5px;
    }
}

#post-pagination {
    padding-bottom: 15px;
    margin: 0 5px;
    color: #999;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    a {
        display: block;
        margin-top: 30px;
    }
}

// Footer
footer {
    margin-top: 30px;
    margin-bottom: 30px;

    .social {

        .social-icon {
            display: inline-block;
            height: 42px;
            width: 42px;
        }
    }
}

// CSS Grid Layout
.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
}

[class^=col-]{
    grid-column-end: span 12;
}

// Loop through responsive breakpoints
@each $size, $abbr in (0,xs),(768px,sm),(992px,md),(1200px,lg) {
    @media (min-width: $size){
        // Loop through col classes
        @for $i from 1 through 12{
            .col-#{$abbr}-#{$i}{
                grid-column-end: span $i;
            }
        }
    }
}